- content_for :title do
  Profile
- content_for(:custom_css) do
  / this page specific styles
  %link(rel="stylesheet" href="/assets/css/compiled/index.css")

.div.row
  .col-md-3
    .div.panel.panel-primary
      .div.panel-heading= @user.name
      .div.panel-body{ :style => "text-align:center;"}
        = gravatar_for @user, size: 144, imgclass: "img-thumbnail"
        %div= pluralize(@user.microposts.count, "micropost")
      .panel-footer
        .div
          - if current_user.admin? || current_user?(@user)
            = link_to edit_user_path(@user), :class => "btn btn-primary", :title => "Change user's settings" do
              %i.glyphicon.glyphicon-edit
          - if current_user.admin? && !current_user?(@user)
            = link_to user_path(@user), data: { confirm: "This will remove #{@user.name}, Are you sure?", method: :delete}, :class => "btn btn-danger", :title => "Remove this user" do
              %i.glyphicon.glyphicon-trash
  .col-md-9  
    - if @user.microposts.any?      
      %h3 Recent Posts      
      = render @microposts
      %div
        %p
          %small= page_entries_info @microposts
        %ul.pagination.inverse.pull-right
          = will_paginate @microposts, :container => false, :previous_label => '&#8249;', :next_label => '&#8250;'








