- content_for :title do
  Profile
- content_for(:custom_css) do
  / this page specific styles
  %link(rel="stylesheet" href="/assets/css/compiled/user-profile.css")


%div{:id=>"pad-wrapper", :class=>"user-profile"}
  %div{:class=>"row header"}
    %div.col-md-12
      = gravatar_for @user
      %h3.name= @user.name
      %span.area= @user.email
    = link_to (content_tag(:i, "", :class => "icon-trash")).html_safe, user_path(@user), :method => :delete, :class => 'btn-flat icon pull-right delete-user', "title"=>"Delete user",  "data-toggle"=>"tooltip", "data-placement"=>"top"
    = link_to 'Edit this person', edit_user_path(@user), :class => "btn-flat icon large pull-right edit"


