.div.panel.panel-primary{ :id=> feed_item.id }
  .div.panel-heading= "#{feed_item.title}"
  .div.panel-body
    .row
      .col-md-1
        = link_to gravatar_for(feed_item.user), feed_item.user
      .col-md-11
        = feed_item.content
  .panel-footer
    %div
      - if current_user?(feed_item.user)
        = link_to "delete", feed_item, data: { confirm: "This will remove the post #{feed_item.title} \n Are you sure?", method: :delete },title: feed_item.content
      %small.pull-right= "Posted #{time_ago_in_words(feed_item.created_at)}"