- @user ||= current_user
= link_to following_user_path(@user), :title => "Users that #{@user.name} is following" do
  %strong#following= @user.followed_users.count
  following
|
= link_to followers_user_path(@user), :title => "Users following to #{@user.name}" do
  %strong#followers= @user.followers.count
  followers