!!!
%html
  %head
    %title= full_title(yield(:title))
    %meta{"http-equiv"=>"Content-Type", :content => "text/html; charset=utf-8"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %meta{:content => content_for?(:description) ? yield(:description) : "Rails", :name => "description"}

    // Load default bootstrap from cdn
    %link{:href=>"//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css", :rel=>"stylesheet"}
    / StyleSheets   
    = stylesheet_link_tag "application"
    = stylesheet_link_tag "/assets/css/compiled/skins/dark.css"
    = yield(:custom_css)
    = render 'layouts/fonts'
           
  %body
    = render 'layouts/banner'
    = render 'layouts/sidebar'
    .content
      - if content_for?(:main_header)
        #main-stats
          = yield(:main_header)    
      #pad-wrapper
        = render 'layouts/messages' unless flash.empty?
        = yield
    = render 'layouts/debug' if Rails.env.development?
    = javascript_include_tag "application"
    %script{:src=>"//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"}
    %script{:src=>"/assets/js/theme.js"}
    = csrf_meta_tags
    = yield(:custom_js)
