!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %title= content_for?(:title) ? yield(:title) : "Rails Bootstrap"
    %meta{:content => content_for?(:description) ? yield(:description) : "Rails Bootstrap", :name => "description"}
    = stylesheet_link_tag "application"
    
    <!-- this page specific styles -->
    = yield(:custom_css)
    
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    = csrf_meta_tags       
  %body
    = render 'layouts/banner'
    = render 'layouts/sidebar'           
    %div{:class => "content"}
      %div#pad-wrapper
        = render 'layouts/messages'
        = yield
          
    %script(src="http://code.jquery.com/jquery-latest.js")    
    = javascript_include_tag "application"    
    = yield(:custom_js)
