!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %title= content_for?(:title) ? yield(:title) : "Rails Bootstrap"
    %meta{:content => content_for?(:description) ? yield(:description) : "Rails Bootstrap", :name => "description"}
   
    = stylesheet_link_tag "application"  
    = yield(:custom_css)
    = render 'layouts/fonts'
    = csrf_meta_tags       
  %body
    %div.header
      %a{:href => root_path }
        %img{:src => "/assets/img/logo.png"}
    
    = render 'layouts/messages'
    %div{:class => "login-wrapper"}      
      
      = yield
          
    %script(src="http://code.jquery.com/jquery-latest.js")    
    = javascript_include_tag "application"    
    = yield(:custom_js)
