!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %title= content_for?(:title) ? yield(:title) : "Rails Bootstrap"
    %meta{:content => content_for?(:description) ? yield(:description) : "Rails Bootstrap", :name => "description"}
   
    = stylesheet_link_tag "application"  
    = yield(:custom_css)
    = render 'layouts/fonts'  
  %body
    %div.header
      %a{:href => root_path }
        %img{:src => "/assets/img/logo.png"}
    
    = render 'layouts/messages'
    %div.login-wrapper
      = yield
      = render 'layouts/debug' if Rails.env.development?
      
    = javascript_include_tag "application"
    = csrf_meta_tags  
    = yield(:custom_js)
