!!!
%html.login-bg
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %title= content_for?(:title) ? yield(:title) : "Rails Bootstrap"
    %meta{:content => content_for?(:description) ? yield(:description) : "Rails Bootstrap", :name => "description"}
   
    = stylesheet_link_tag "application"  
    = yield(:custom_css)
    = render 'layouts/fonts' 
  %body
    = render 'layouts/messages' unless flash.empty?
    %div.login-wrapper      
      = yield
      = render 'layouts/debug' if Rails.env.development?

    %script(src="http://code.jquery.com/jquery-latest.js")    
    = javascript_include_tag "application"
    = csrf_meta_tags   
    = yield(:custom_js)
